__pycache__/
*.py[cod]
*$py.class

# Virtual environments
env/
.venv/
venv/

# VS Code
.vscode/

# Distribution / packaging
build/
dist/
*.egg-info/

# Jupyter
.ipynb_checkpoints

# Streamlit
.streamlit/

# OS files
.DS_Store
Thumbs.db

# Pytest
.pytest_cache/
